<div class="bg-blue-500 h-[350px] relative bg-cover bg-center text-white p-6 rounded-lg flex flex-col items-center justify-between gap-6"
    [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }">
    <div class="absolute inset-0  rounded-lg z-0"></div>
    <div class="flex-1 space-y-4 text-center md:text-left">
        <ng-content select="[hero-title]"></ng-content>
        <ng-content select="[hero-description]"></ng-content>
        <ng-content select="[hero-button]"></ng-content>
    </div>

    <div class="flex-1 animate-slide-in-right">
        <img [src]="imageUrl" [alt]="altText" class="w-full max-w-md mx-auto" />
    </div>
</div>